@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
    .about_container{
        background-position: 150px center;
        flex-direction: column;
        align-items: center;
    }
   
    .about_bg_img{
        //display: none;
    }
    .about_right{
        margin-top: 50px;
    }
   
    
     .section_times .times_bg__img.right {
	display: none;
}
    .news_block{
        max-width: 100%;
        width: 100%;
}
    .must_know_bg__img.right {
	display: none;
}
}
@media only screen and (max-width : 1100px){
    .header_main_container{
    background-position: center 0;
    }
   

    .must_know_question{
        flex-direction: column;
        align-items: center;
    }
    .question_left,.question_right{
        width: 100%;
        margin: 0;
    }
    .question_right{
        margin-bottom: 30px;
    }
    .footer_geo_block,.footer_contact_block,.footer_social_block,.copyright_block{
        width: 50%;
        margin-bottom: 30px;
    }
    .socials{
        justify-content: space-around;
    }
     .section_must_know .must_know_bg__img.left{
       left: 15%;
    }
     .prize_bg__img{
        &.right{
        display: none;
        }
    }
    .section_gallery{
    background: #ed5900 url("../img/girl_left.png") no-repeat 0 40px, 
         
}
   
}
	/**/

@media only screen and (max-width : 900px){
   
        .about_list{
   
        .about_item_container{
             grid-template-columns: 1fr 1fr;

        }
        .about__item{
            
            .about_item__subtitle{
               text-align: right!important; 
            }
            
            &:nth-child(1) .about_item__title::before{
               
                top:70px;
                left: -50px;
                z-index: -1;
               width: 400px;
                height: 147px;
                background-image: url("../img/snake2.png");

            }
         &:nth-child(2) .about_item__title::after{
            
            top:50px;
             left: -50px;
                z-index: -1;
               width: 400px;
            height: 147px;
            background-image:  url("../img/snake2.png");

        }
        &:nth-child(3) .about_item__title::after{
            
            top:70px;
            left: -50px;
            z-index: -1;
            width: 400px;
            height: 147px;
            background-image:  url("../img/snake2.png");

        }
         &:nth-child(4) .about_item__title::after{
            
            top:70px;
            left: -50px;
                z-index: -1;
               width: 400px;
            height: 147px;
            background-image:  url("../img/snake2.png");
            
        }
        
        }
        .about__button{
            margin-top: 50px;
        }
    }
    .about_bg_img {
	display: none;
}
    .footer_bottom_block{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer_geo_block,.footer_contact_block,.footer_social_block,.copyright_block{
        width: 100%;
    }
    .footer_geo_block{
        flex-direction: column;
        align-items: center;
    
    }
    .geo__icon{
        margin: 0;
        margin-bottom: 15px;
    }
    .socials{
        justify-content: center;
        align-items: center;
    }
    .social__link{
        margin-right: 15px;
    }
    .two_section__img {
	right: -200px;
}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
    .header__video{
        width: 500px;
        height: 300px;
    }
    .how_container{
        // background: rgba(237, 89, 0, 0.89);
    }
     .section_rally .rally_bg__img.right{
      
         right: -100px;
    }
     .section_rally .rally_bg__img.left{
      
         display: none;
    }
    .two_section__img{
    right:-200px;
}
     .prize_bg__img{
    &.left{
    width: 100%;
    }
    }
}
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
    .header_main_container{
        //background: none;
        padding: 30px 0;
    }
    .header__button{
        margin-top: 30px;
    }
    .header_main__right{
        margin-top: 30px;
    }
    .header_video{
        padding-bottom: 70px;
    }
    .gallery_container{
        .gallery__photo{
            width: 100%;
        }
        
    }
    .expirience_item{
        width: 33%;
        margin-bottom: 20px;
    }
    
    .condition_container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .condition_right, .condition_center, .condition_left{
        width: 100%;
        margin-bottom: 30px;
    }
    
    .condition_list{
        display: inline-block;
    }
    .times_container{
        flex-direction: column;
        align-items: center;
        padding-bottom: 250px;
    }
    .times_left_list, .times_right_list{
        text-align: center;
    }
    .times_left_list{
        margin-bottom: 20px;
    }
    .times_bg__img.right{
        display: none;
    }
    
    .section_times{
         .times_bg__img.center {
            left: calc(50% - 330px);
        }
    }
    .news_bg__img.right {
        width: 90%;
	
}
    .news_item{
        flex-direction: column;
        align-items: center;
    }
    .news_info{
        margin-top: 20px;
        width: 100%;
    }
     .section_rally .rally_bg__img.right{
      
         right: 10px;
         //top:400px;
    }
    .must_know_bg__img.right{
        display: none;
    }
    .section_must_know .must_know_bg__img.left{
       left: 10%;
    }
    .prize_bg__img{
    &.left{
     width: 100%;
    }
    }
}
	/**/
@media only screen and (max-width : 700px){
    
    .about_list{
         .about__item{
            .about_item_container{
                 grid-template-columns: 1fr;
                align-items: center;
                text-align: center;
            }
            
            .about_item__subtitle{
               text-align: center!important; 
                padding-top:20px;
                z-index: 2;
            }
 
            &:nth-child(1) .about_item__title::before{
                top:90px;
                //left: 50px;
            }

             &:nth-child(2) .about_item__title::after{
                top:50px;
                // left: 30px;
            }

            &:nth-child(3) .about_item__title::after{
                top:90px;
               // left: 10px;
            }
             &:nth-child(4) .about_item__title::after{
                top:120px;
                // left: 30px;
                 z-index: -2;
            }
             &:nth-child(2) .about_item__subtitle, &:nth-child(5) .about_item__subtitle {
                 padding-bottom: 20px;
             }
              .about__button{
                 margin-left:auto;
                 margin-right: auto;
                align-self: center;
            }
        }
    }
    .how-it-did_container{
        flex-direction: column;
    }
    .two_section__img{
        //display: none;
    }
    .forms_title{
        text-align: center;
    }
    .forms_block_container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .forms_block__left{
        width: 100%;
    }
    .forms_block__right{
        width: 100%;
        height: 60px;
        margin-top: 30px;
    }
    .forms_bottom_block{
        width: 100%;
    }
    .forms__button{
        left:calc(50% - 125px);
    }
    .rally_bg__img.left{
        //display: none;
    }
    .times_bg__img{
        //display: none;
    }
    .section_how .how_bg__img.left {
	    bottom: 0;
        top:auto;
    }
}

@media (max-width : 630px){
    .header_top_container{
        display: none;
         
    }
   
    .header_bottom__title, .header_bottom__text {
	white-space: pre-wrap;
}
    .header_bottom__title{
        font-size: 35px;
    }
    .header_main{
        margin-top: 0;
    }
    
    .slicknav_menu{
        display: block;
    }
    .header_main__bottom{
        margin-top: 0;
        padding-top: 50px;
    }
    .header_main_container{
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        background-position-y: 30%;
    }
    .header_main__left{
        text-align: center;
        margin-left: 0;
    }
    .header_main__right{
        margin-top: 400px;
        text-align: center;
    }
    .header__video{
        width: 450px;
        height: 300px;
    }
    .news_container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .section_must_know .must_know_bg__img.left{
       left: 5%;
    }
     .section_times{
         .times_bg__img.center {
            left: calc(50% - 300px);
        }
    }
     .prize_bg__img{
    &.left{
     width: 120%;
        top:120px;
    }
    }
     .news_bg__img.right {
        right: 0;
	
}
}
@media (max-width : 585px){
    .expirience_item{
        width: 50%;
    }
    .partners_block{
        flex-direction: column;
        align-items: center;
    }
    .partners__link{
        margin-bottom: 20px;
    }
    .question__title.answer{
        text-align: center;
        word-break:keep-all;
    }
    .section_times{
         .times_bg__img.center {
            left: calc(50% - 280px);
        }
        .times_bg__img.left {
	        top: auto;
        }
    }
}
/* Extra Small Devices, Phones */
@media (max-width : 490px){
    .header_bottom__text {
	font-size: 12px;
        &.accent{
            font-size: 18px;
        }
     }
    
    .header_main__right {
	margin-top: 300px;
}
    
    .expirience_item{
        width: 100%;
    }
    .about_container{
        background: rgba(237,89,0,.89);
    }
    .header__video{
        width: 350px;
        height: 200px;
    }
    .forms_roles{
        flex-direction: column;
        align-items: center;
    }
    .roles__item{
        margin-bottom: 20px;
    }
    .section_how .how_bg__img.right {
	   
        top:100px;
    }
    .section_must_know .must_know_bg__img.left{
       left: 0;
    }
     .section_times{
         .times_bg__img.center {
            left: calc(50% - 240px);
        }
    }
     .prize_bg__img{
    &.left{
     width: 100%;
        left: 1%;
    }
    }
    .news_bg__img.right {
        right: -100px;
	
}
    .about_list{
         .about__item{

            &:nth-child(1) .about_item__title::before{
                width: 300px;
                height: 147px;
                top:140px;
                
                left: 0px;
                
                
            }

             &:nth-child(2) .about_item__title::after{
                 
                 width: 300px;
                 height: 147px;
                top:60px;
                
                left: 0px;
                 z-index: -1;
            }

            &:nth-child(3) .about_item__title::after{
                
                 width: 300px;
                height: 147px;
                top:120px;
             
                left: -10px;
            }
             &:nth-child(4) .about_item__title::after{
                 
                 width: 300px;
                 height: 147px; 
                top:140px;
                
                 left: 0px;
                 z-index: -2;
            }
             &:nth-child(2) .about_item__subtitle,  {
                 padding-bottom: 20px;
             }
        }
    }
}
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 390px){
    .header_bottom__title {
	font-size: 26px;
}
    .header_bottom__text {
	font-size: 10px;
        &.accent{
            font-size: 18px;
        }
}
    .section_how .how_bg__img.right {
	   
        top:200px;
    }
    .news_bg__img.right {
        right: -50px;
	
}
    .header_main__right {
	margin-top: 250px;
}
}
@media only screen and (max-width : 350px){
.header_bottom__text {
	font-size: 9px;
        &.accent{
            font-size: 16px;
        }
    }
     .prize_bg__img{
        &.left{
        top:150px;
        }
    }
    .header_main__right {
        margin-top: 200px;
    }
    .header_main_container {
	    background-position-y: 28%;
    }
}
	/**/




