@import "_fonts";
@import "_libs";
@import "_vars";
@import "_mixins";


//BASE BEGIN
html, body{
	height: 100%;
    width: 100%;
}
a{ text-decoration: none; color: inherit; }
.slick-slide{outline: 0;}

body{
	font-size: 16px;
	position: relative;
	line-height: 1;
	font-family: $default-font;
	overflow-x: hidden;
	opacity: 1;
}
.main{ 
  overflow:hidden;
}
.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}

.slicknav_menu{
    background-color: rgba(237, 89, 0, 0.89);
    display: none;
}
.slicknav_nav{
    a{
        text-align: center;
    }
}
.slicknav_btn{
    background-color: #a20e10; 
}
.wrapper{
	max-width:1330px;
	width:100%;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
   // overflow-x: hidden;
}
.wrapper-2{
    max-width:1200px;
	width:100%;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
}
.wrapper-3{
     max-width:1030px;
	width:100%;
	margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
.wrapper-4{
    max-width:820px;
	width:100%;
	margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
.wrapper-5{
    max-width:720px;
	width:100%;
	margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
.button_ye, .button_w{
    border-radius: 5px;
    border: 2px solid #9c0000;
    background-color: #ffdd00;
    color: #a90005;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    width: 250px;
    box-sizing: border-box;
    display:inline-block;
    z-index: 1000;
    &:hover, &:active{
        border-color: lighten(#9c0000, 15%);
        color:lighten(#9c0000, 15%);
    }
}
.button_w{
    border: 1px solid #ffffff;
    color: #ffffff;
    background: transparent;
     &:hover, &:active{
        border-color: darken(#fff, 15%);
        color:darken(#fff, 15%);
    }
}
.section_title{
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color:#fff;
    line-height: 1;
   
    .accent_b{
        color: #000000;
    }
}
//BASE END
//HEADER BEGIN
.header{
    background-image: url("../img/maxresdefault.jpg");
	background-size:cover;
    background-repeat: no-repeat;
    background-position: center 0;
	width:100%;
    padding: 20px 0 78px;
}

.header_container{
    background-color: rgba(237, 89, 0, 0.89);
   
}
.header__top{
	
}
.header_top_container{
	display:flex;
    justify-content: center;
    
    
}
.header__menu{
    max-width: 620px;
    width: 100%;
    margin-top: 15px;
	display:flex;
	justify-content:space-between;
    align-items: center;
}
.header_logo{
    position: relative;
    left: 6px;
    .logo__img{
        width: 95px;
height: 77px;
    }
}
.header_menu_link{
    padding: 0 20px;
    color: #ffffff;
    font-family: "BravoRG";
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    transition: color 0.5s;
    box-sizing: border-box;
	&:hover, &:focus{
        
        color: darken(#fff, 15%);
	}
}

.header_main{
     margin-top: 50px;
}
.header_main_container{
    display: flex;
    justify-content: space-between;
    position: relative;
    background-image: url('../img/shutterstock-481805962.png');
    background-position: calc(50% - 40px) 0;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 180px 0 80px;
   
}
.header_main__left{
    max-width: 283px;
    margin-left: 40px;
}
.header_title__accent{
     color: #000000;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 600;
    line-height: 48px;
    text-transform: uppercase;
    &.bold{
         color: #000000;
        font-family: "BravoRG";
        font-size: 60px;
        font-weight: 400;
        line-height: 69px;
        text-transform: uppercase;
    }
}
.header_title__just{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
}

.header_main_right__list{
    .item_container{
        position: relative;
        padding-bottom: 45px;
        &::after{
            content: "";
            position: absolute;
            display: block;
            height: 1px;
            width: 30px;
            background-color:#a31010;
            bottom: 10px;
            left:calc(50% - 15px);
        }
       
        .header_main_right__item{
        }
     }
        
}
    
.header_list__title{
    text-align: center;
    color: #000;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
}
.header_list__text{
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
}
.header__button{
    margin-top: 38px;
}
.header_main__bottom{
    text-align: center;
    margin-top: 30px;
}
.header_main_bottom_text{
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
}
.header_bottom__text{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: justify;
    -moz-text-align-last: justify;
  text-align-last: justify;
     white-space: pre-wrap;
    line-height: 20px;
    &.accent{
        font-weight: 400;
        color: #ffffff;
        font-size: 24px;
        line-height: 30px;
    }
}
.header_bottom__title{
    text-align: justify;
    -moz-text-align-last: justify;
     text-align-last: justify;
    color: #000;
    font-family: "BravoRG";
    font-size: 60px;
    text-transform: uppercase;
    white-space: pre-wrap;
}
.header_video{
    margin-top: 98px;
    padding-bottom: 250px;
    text-align: center;
}
.header_video__container{
    display: inline-block;
    border: 3px solid #ff9d00;
}
.header__video{
    width: 1100px;
    height: 500px;
    display: block;
}
//HEADER END
//GALLERY BEGIN
.section_gallery{
    padding: 106px 0 70px;
    background: url("../img/girl_left.png") no-repeat 0 40px, 
         #ed5900 url("../img/girl_right.png") no-repeat 100% 40px;
    background-size: contain;
}
.gallery__title{
    text-align: center;
}
.gallery_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 83px;
    .gallery__photo{
        display: block;
        width: 305px;
        margin-bottom: 45px;
        border: 3px solid #ff9d00;
        .gallery__img{
            display: block;
            width: 100%;
        }
    }
}
//GALLERY END
//ABOUT BEGIN
.section_about{
    background: url("../img/maxresdefault-left.png") no-repeat center 0;
   background-size: cover;
     position: relative;
    padding: 20px 0;
    width: 100%;
}
.about_bg_img{
    position: absolute;
    top:123px;
    left:60%;
    z-index: 999;
}
.about_container{
    padding: 55px 55px 55px 65px;;
    background: rgba(237, 89, 0, 0.89)  url("../img/dancer_left.png") no-repeat 150px 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.about_list{
   
    .about_item_container{
         display: grid;
        grid-template-columns: 1fr auto 1fr;
        padding-bottom: 53px;
        
    }
    .about__item{
       
    &:nth-child(even) .about_item__subtitle,
    &:last-child .about_item_container .about_item__subtitle{
        text-align: right;
        padding-right: 15px;
        align-self: end;
    }
    .about__button{
        align-self: end;
    }
    &:nth-child(odd) .about_item__subtitle,
    &:nth-child(4) .about_item__subtitle,
         {
        text-align: left;
        padding-left: 15px;
        align-self: start;
    }
    &:nth-child(3) .about_item__subtitle{
        align-self: center;
    }
        
    &:nth-child(1) .about_item__title::before{
        position: absolute;
        display: block;
        top:20px;
        left: -90px;
        width: 111px;
        height: 147px;
        content:"";
        background: url("../img/thread_1.svg") no-repeat 0 0;
        background-size: contain;
        
    }
     &:nth-child(2) .about_item__title::after{
        position: absolute;
        display: block;
        top:20px;
         left:-20px;
        width: 270px;
        height: 147px;
        content:"";
        background: url("../img/thread_2.svg") no-repeat 0 0;
         background-size: contain;
        
    }
    
    &:nth-child(3) .about_item__title::after{
        position: absolute;
        display: block;
        bottom: -43px;
        right: -40px;
        width: 2px;
        height: 43px;
        content:"";
        background: url("../img/thread_3.svg") no-repeat 0 0;
        background-size: contain;
        
    }
     &:nth-child(4) .about_item__title::after{
         z-index: -1;
        position: absolute;
        display: block;
        left: 10px;
         top:55px;
        width: 62px;
        height: 118px;
        content:"";
       background: url("../img/thread_4.svg") no-repeat 0 0;
         background-size: contain;
        
    }
    }
}
.about_item__title{
    display: block;
    font-family: "Open Sans";
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f9fcfc;
    line-height: 44px;
    text-align: center;
    position: relative;
    z-index: 2;
    
    .accent{
        color: #000000;
    
    }
}
.about_item__subtitle{
    display: inline-block;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
    line-height: 18px;
    color: #fff;
     
   
    .accent{
        color: #000000;
    }
}

.about__button{
    margin-left: 90px;
}
//ABOUT END
//RALLY BEGIN
.section_rally{
    background: url("../img/maxresdefault_right.png") no-repeat center 0;
    background-size: cover;
     position: relative;
    padding: 20px 0;
    width: 100%;
    z-index: 1;
    .rally_bg__img{
        position: absolute;
        top:150px;
        left:-300px;
        z-index: -1;
        &.right{
            top:13px;
            left: auto;
            right: -300px;
            z-index: -1;
            max-width: 90%;
        }
    }
    .rally_container{
        padding: 97px 0 20px;
         background: rgba(237, 89, 0, 0.89);
         position: relative;
        z-index: 1;
    }
}
.rally__title{
    text-align: center;
}

.expirience_container{
    margin-top: 102px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
}
.expirience_item{
    width: 25%;
    text-align: center;
}
.expirience_item__icon{
    display: inline-block;
}
.expirience_item__title, .expirience_item__subtitle{
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}
.expirience_item__subtitle{
    color: #ffffff;
    line-height: 24px;
}
.expirience_separator{
    margin: 55px auto;
    background-image: url("../img/separator.png");
    background-position: center;
    max-width: 730px;
    width: 100%;
    height: 1px;
}
.rally_condition{
   
}
.condition_container{
    display: flex;
    justify-content: space-between;
}
.condition_left, .condition_center,.condition_right{
    text-align: center;
    width: 33%;
}
.condition__title{
    color: #000000;
    font-family: "BravoRG";
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
}
.condition__subtitle{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}
.condition__arrow{
    margin: 12px auto;
     background: url("../img/download.png") no-repeat 0 0;
    width: 17px;
    height: 51px;
}
.condition_list__item{
    display: flex;
    justify-content: space-between;
    .condition_item__place, .condition_item__prize{
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        text-align: left;
        width: 50%;
        &.accent{
            font-weight: 700;
        }
    }
}

.condition__info{
    margin-top: 55px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;

}
//RALLY END
//HOW BEGIN
.section_how{
    position: relative;
    background: url("../img/maxresdefault-left.png") no-repeat center 0;
    background-size: cover;
     position: relative;
    padding: 20px 0;
    width: 100%;
    .how_bg__img{
        position: absolute;
        top:38px;
        right:0;
        z-index: -1;
        &.left{
            left: 0;
            right: auto;
            top:50px;
        }
        &.right{
            z-index: -2;
        }
    }
}
.how_container{
     padding: 102px 0 33px;
         background: rgba(237, 89, 0, 0.89);
         position: relative;
    z-index: 1;
}
.how_title{
    text-align: center;
}
.how-it-did_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.how-it-did_item{
    text-align: center;
    margin-top: 30px;
}
.how-it-did_item__top{
    color: #ffffff;
    font-family: "BravoRG";
    font-size: 63px;
    font-weight: 400;
    line-height: 84px;
    padding: 0 24px;
    box-sizing: border-box;
    &.accent{
        color:#a20e10;
    }
}
.how-it-did_item__icon{
    padding-left: 15px;
}
.how-it-did_item__title{
    font-family: "Open Sans";
    line-height: 24px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600; 
    padding: 0 24px;
    box-sizing: border-box;
}
.how-it-did_item_subtitle{
    font-family: "Open Sans";
    line-height: 24px;
    color: #000000;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 14px;
    padding: 0 24px;
    box-sizing: border-box;
}
.how-it-did__button{
    display: block;
    margin: 37px auto 0;
}
.how-it-did__title_bottom{
    margin-top: 50px;
    display: block;
    text-align: center;
    font-family: "BravoRG";
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    .accent{
        color: #000;
    }
}
//HOW END
//TIMES BEGIN
.section_times{
    position: relative;
    background: rgba(237, 89, 0, 0.89);
    padding: 95px 0 20px;
    z-index: 2;
    .times_bg__img{
        position: absolute;
        top: 50px;
        bottom: 0;
        &.left{
            left:0;
            z-index: -2;
        }
        &.right{
            top: 0;
            right: 0;
        }
        &.center{
            bottom: 0;
            top: auto;
            left: calc(50% - 350px);
            z-index: -1;
        }
        
    }
}
.times_title{
    text-align: center;
}
.times_container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 330px;
    margin-top: 74px;
}
.times_left_item{
    padding-bottom: 10px;
}
.times_right_item{
    padding-bottom: 10px;
}
.times_left__title, .times_right__title{
    font-family: "Open Sans";
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    line-height: 30px;
}
.times_left__subtitle,  .times_right__subtitle{
    font-family: "Open Sans";
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
}
/*
.times_right__title{
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    line-height: 18px;
    text-transform: uppercase;
}
.times_right__subtitle{
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    line-height: 30px;
}
*/
.times_info_block{
    text-align: right;
}
.times__info{
    display: inline-block;
    font-family: "Open Sans";
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    .accent{
        color: #000;
    }
}
//TIMES END
.two_section_container{
    position: relative;
}
.two_section__img{
    position: absolute;
    right:-300px;
    top: 5px;
    z-index: 1;
    height: 850px
}
//FORMS BEGIN
.section_forms{
     background: url("../img/maxresdefault_right.png") no-repeat center 0;
    background-size: cover;
     padding: 20px 0;
    width: 100%;
    
    //overflow-x: hidden;
}
.forms_container{
    background-color: rgba(237, 89, 0, 0.89);
    padding-top: 40px;
    padding-bottom: 34px;
    z-index: 2;
}
.forms_main{
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    padding: 50px 40px;
    position: relative;
    z-index: 1;
}
.forms_title{
    text-align: left;
    .accent{
        color: #000000;
    }
}
.forms_block_container{
    display: flex;
    justify-content: space-between;
}
.forms_block__left, .forms_block__right{
    width: 50%;
    position: relative;
}
.forms_roles{
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
}
.roles__item{
    text-align: center;
    width: 180px;
}
.roles__separator{
    background: linear-gradient(to right, rgba(232, 232, 232,0) 0%,rgba(232, 232, 232,0.02) 1%,rgba(232, 232, 232,1) 50%,rgba(232, 232, 232,0) 100%) center no-repeat; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e8e8e8',GradientType=1 );
    width: 100%;
    height: 2px;
    
}
.roles__icon{
    margin: 15px 0;
    height: 50px;
}
.roles__title,.roles__subtitle, .roles__price{
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    
}
.roles__title{
 margin-bottom: 14px;
}
.roles__subtitle{
    color: #010101;
    margin-bottom: 14px;
    line-height: 30px;
}
.roles__price
{
    margin-top: 24px;
}
.roles__features{
    margin-top: 23px;
    text-align: center;
    color: #000000;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    .accent{
        color: #ffdd00;
        font-size: 20px;
    }
}
.forms__button{
    position: absolute;
    bottom: 0;
    left: 50px;
}
.forms_bottom_block{
    width: 60%;
    margin-top: 33px;
    position: relative;
    z-index: 2;
}
.forms_bottom_title{
    text-align: center;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
color: #ffffff;
    .accent{
        color: #000;
    }
}
.forms_bottom_container{
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
}
.forms_bottom__circle{
    width: 57px;
    height: 57px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 24px;
    line-height: 57px;
}
.forms_bottom__title{
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
}
//FORMS END
.section_must_know{
    position: relative;
    background-color: #ed5900;
    z-index: 1;
    .must_know_bg__img{
        position: absolute;
        &.left{
            top:50px;
            left:0;
            z-index: -1
        }
        &.right{
            top:0;
            right:0;
            height: 100%;
            z-index: -2;
        }
    }
}
.must_know_container{
    padding: 132px 0 68px;
}
.must_know__title{
    text-align: center;
}
.must_know_question{
    margin-top: 48px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.question_right{
    width: 50%;
}
.question_right{
    border-radius: 5px;
    border: 1px solid #ffffff;
}
.question__title{
    color: #000000;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid #fff;
    line-height: 62px;
    padding: 0 20px;
    .question__icon{
        padding-left: 18px;
        position: relative;
        top:10px;
        &.right{
            padding-left: 0;
            padding-right: 18px;
        }
    }
    &.answer{
        padding: 0;
        border-bottom: 0;
        color: #fffefe;
        text-align: right;
        display: block;
        font-weight: 600;
    }
}
.question__text{
    padding: 19px 20px 21px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}
.question_left{
    width: calc(50% - 30px);
    margin-right: 30px;
    margin-bottom: -31px;
}
.question_item{
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    margin-bottom: 31px;
     padding: 0 20px;
    &.active{
       display: none;
    }
   
    .question__text{
        display: none;
    }
    a{
        line-height: 62px;
    }
}
//QUESTION END
//PRIZE BEGIN
.section_prize{
    position: relative;
     background: url("../img/maxresdefault-left.png") no-repeat center 0;
    background-size: cover;
     padding: 20px 0;
    width: 100%;
}
.prize_bg__img{
    position: absolute;
    z-index: -1;
    &.left{
        left: -100px;
        z-index: -1;
    }
    &.right{
        right: -177px;
        z-index: -2;
    }
}
.prize_container{
    background-color: rgba(237, 89, 0, 0.89);
    padding: 54px 0 117px;
    position: relative;
    z-index: 1;
}
.prize__title{
    text-align: center;
}
.abonents_block{
    text-align: center;
    margin-top: 148px;
}
.abonements_list{
     display: inline-block;
   
}
.abonents__title, .abonents__subtitle{
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: #ffffff;

}
.abonents__subtitle{
    color: #000000;
}
.prize_button_block{
    text-align: center;
    margin-top: 100px;
}
.prize__button{
    z-index: 999;
}
.section_news{
     position: relative;
     background: url("../img/maxresdefault_right.png") no-repeat center 0;
    background-size: cover;
     padding: 20px 0;
    width: 100%;
}
.news_bg__img{
    position: absolute;
    top:0;
    right: -200px;
    z-index: -1;
}
.news_container{
    position: relative;
    z-index: 1;
    background-color: rgba(237, 89, 0, 0.89);
    padding: 77px 66px 41px;
}
.news_block{
    margin-top: 76px;
    max-width: 60%
}
.news_item{
   margin-bottom: 45px;
     display: flex;
    align-items: flex-start;
    &:last-child{
        margin-bottom: 0;
    }
}
.news__link{
    
}
.news_info{
    width: calc(100% - 290px);
}
.news__date,.news__text{
    margin-left: 23px;
    font-family: "Open Sans";
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    line-height: 24px;
}
.news_preview{
    width: 275px;
}
.news__date{
    line-height: 30px;
}
.news__text{
    color: #ffffff;
    font-weight: 400;
    line-height: 23px;
}
.news_button_block{
    text-align: center;
    margin-top: 66px;
}

.footer{
    background-color: #ed5900;
    padding: 75px 0;
}
.partners_block{
    max-width: 670px;
    margin: 0 auto;
    padding: 44px 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.footer_bottom_block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 52px;
}
.footer_geo_block{
    display: flex;
    align-items: flex-start;
}
.geo__icon{
    margin-right: 19px;
}
.geo__text{
    color: #fcfcfc;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.geo_bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
.geo__link{
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
}
.contact__title{
    color: #010101;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
}
.contact_item{
    margin-top: 20px;
    color: #fcfcfc;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 17px;
}
.contact__icon{
    padding-right: 7px;
}
.social__title{
    color: #fcfcfc;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
}
.socials{
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
}
.copyright_block{
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    color: #000000;
    .copyright__link{
        color: #ffffff;
    }
}

@import "_media"; 

