@media only screen and (max-width : 380px){
    .button_ye,.button_w{
        width: 200px;
    }
    .forms__button{
        left: calc(50% - 100px);
    }
    .forms_bottom_container{
        flex-direction: column;
        align-items: center;
    }
    .forms_bottom_item{
        margin-bottom: 20px;
    }
    .about_item__title{
        font-size: 40px;
    }
    .about_item__subtitle{
        font-size: 18px;
    }
    .about_list{
         .about__item{

            &:nth-child(1) .about_item__title::before{
                width: 201px;
                top:140px;
                
                left: 60px;
                
                
            }

             &:nth-child(2) .about_item__title::after{
                 
                width: 201px;
                top:60px;
                
                left: 60px;
                 z-index: -1;
            }

            &:nth-child(3) .about_item__title::after{
                
                width: 201px;
                top:120px;
             
                left: 30px;
            }
             &:nth-child(4) .about_item__title::after{
                 
                width: 201px;
                top:140px;
                
                 left: 60px;
                 z-index: -2;
            }
             &:nth-child(2) .about_item__subtitle,  {
                 padding-bottom: 20px;
             }
        }
    }
    .news_preview{
        width: 100%;
    }
 }
